body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-container {
  padding: 5rem;
}

.ReactTable {
  margin-left: 2rem;
  margin-right: 2rem;
  min-width: 400px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* TODO Add an custom styles for the table and filters here */

.filter__container {
  display: grid;
  list-style: none;
}

.filter {
  display: block;
  padding: 7px 5px;
  border: 1px solid rgba(225, 225, 225, 1);
  cursor: pointer;
  margin: 1px;
}

.filter:hover {
  background: rgba(242, 242, 242, 1);
}

.filter--selected {
  background: rgba(232, 232, 232, 1);
}

.filter__checkbox {
  float: right;
}
